/* ADD QUIZ MODAL */
.add-quiz{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    translate: -50% -50%;
    border-radius: 0 0 20px 20px;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    background: var(--header-color);
}
.add-quiz-text{
    font-size: 2.5rem;
}

/* MODAL BUTTON */
.quiz-bottom{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add-quiz-button{
    width: 20%;
    height: 4vh;
    background: var(--card-color);
    color: var(--font-color-dark);
    border-radius: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.add-quiz:has(input:valid) .add-quiz-button{
    opacity: 1;
    cursor: pointer;
}

.add-quiz:has(input:valid) .add-quiz-button:hover{
    background: var(--card-hover);
    transition: background 0.3s ease;
}

.dark-theme .quiz-name-input{
    background: var(--font-color-light);
}

.quiz-name-input {
    height: 6vh;
    border-radius: 7px 7px 0 0;
    border-bottom: 2px solid var(--font-color);
    background: var(--background-color);

    position: relative;
    padding-top: 20px;
    transition: border-bottom 0.3s ease;
}

.quiz-name-input #quiz-input {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: transparent;
    width: 100%;
    padding: 0 12px;
    padding-top: 1.5rem;
    font-weight: 300;
    outline: none;
    font-size: 1.2rem;
    z-index: 2;

    color: var(--font-color);
}

.quiz-name-input .placeholder {
    position: absolute;
    top: calc(50% - 2px);
    left: 12px;

    font-size: 1rem;

    color: var(--font-color);
    transform: translateY(-50%);
    /* padding: 0 1rem; */
    z-index: 1;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.quiz-name-input input:valid + .placeholder,
.quiz-name-input input:focus + .placeholder{
    top: 15px;
    font-size: 12px;
}

.quiz-name-input:has(input:valid),
.quiz-name-input:has(input:focus){
    border-bottom: 2px solid #2cabe3;
}

.quiz-name-input .placeholder span {
    color: var(--close-hover);
}