*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root{
    --font-color-light: #2d3845;
    --font-color-dark: #ffffff;
    --card-color:#38cc79;
    --card-hover: #46ff97;
    --close-hover: #ff795a;

    /* LIGHT MODE THEMES */
    --background-color: #f0f5f9;
    --header-color: #ffffff;
    --font-color: #2d3845;
    --header-border: #d1dadf;
    --icon-hover: #edeff0;
    --close-button-color: #f07361;
}

/* DARK MODE */
body.dark-theme{
    --background-color: #1f2730;
    --header-color: #28313b;
    --font-color: #ffffff;
    --header-border: #3f4e5f;
    --icon-hover: #364049;
    --close-button-color: #db5f4e;
}

.dark-theme .add-card{
    background: var(--background-color);
}

/* HIDE */
.hidden{
    display: none;
}

/* FONTS */
.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background: var(--background-color);
    color: var(--font-color);
    transition: background 0.3s, color 0.3s;
}

/* HEADER OF MAIN PAGE */
.header{
    width: 100%;
    height: 10vh;
    position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
    font-size: 2rem;
    background: var(--header-color);
    border-bottom: var(--header-border) 2px solid;
}
.header .bx{
    padding: 0.3rem;
    border-radius: 30px;
    font-size: 1.5rem;
}
.header .bx:hover{
    background: var(--icon-hover);
}

/* MAIN */
.main{
    padding-top: 10vh;
    height: 100%;
}
.main-text{
    font-size: 1.5rem;
    padding: 1rem 2rem 0rem 2rem;
}

/* QUIZ CONTAINER */
.quiz-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/* QUIZ CARD */
.quiz-card{
    background: var(--card-color);
    min-height: 15vh;
    flex: 0 1 210px;
    color:var(--font-color-light);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-card:hover{
    background: var(--card-hover);
    cursor: pointer;
}

.add-card{
    min-height: 15vh;
    flex: 0 1 210px;
    color:var(--font-color-light);
    border-radius: 1rem;
    border: 3px dashed var(--card-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--header-color);
}
.add-card>.logo{
    font-size: 2rem;
    background: var(--card-color);
    border-radius: 30px;
}
.add-card:hover{
    border: 3px dashed var(--card-hover);
    cursor: pointer;
}
.add-card:hover>.logo{
    background: var(--card-hover);
}

/* QUIZ MODAL */
.transparent-bg{
    position: fixed;
    top:10vh;
    left:0;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    background: var(--font-color-light);
    z-index: 1;
}
.quiz-modal{
    position: fixed;
    top:50%;
    left:50%;
    translate: -50% -50%;

    width: 700px;
    height: 300px;
    z-index: 2;

    background: var(--header-color);
    border-radius: 20px;
    border: var(--header-border) 2px solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.modal-header{
    width: 100%;
    height: 10%;
    border-bottom: var(--header-border) 2px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;

    font-size: 1rem;
    color: var(--card-color);
}
.modal-close-button{
    background: var(--close-button-color);
    color: var(--font-color-dark);
    border-radius: 50%;
    padding: 0.2rem;
}
.modal-close-button:hover{
    background: var(--close-hover);
    cursor: pointer;
}
.modal-content{
    width: 100%;
    height: 90%;
    position: relative;
    /* border: 1px solid red; */
}

/* ADD QUIZ MODAL */
.add-quiz{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    translate: -50% -50%;
    border-radius: 0 0 20px 20px;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.add-quiz-text{
    font-size: 2.5rem;
}
/* MODAL INPUT */
#quiz-input{
    height: 5vh;
    border-radius: 7px 7px 0 0;
    border: none;
    border-bottom: 2px solid var(--font-color);
    padding: 1rem;
    background: var(--font-color-light);
}
/* MODAL BUTTON */
.add-quiz-button{
    width: 20%;
    height: 4vh;
    background: var(--card-color);
    color: var(--font-color-dark);
    border-radius: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* START QUIZ MODAL */
.start-quiz{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    translate: -50% -50%;
    background: white;
}